@import "tailwindcss";

/* Принудительный режим Light Mode */
:root {
  color-scheme: light;
}

html,
body {
  background-color: #FAFAF7;
  color: #0f172a; /* text-slate-900 */
}

/* Стилизация скроллбара */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}